In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database='software_composition'
)

#print(mydb)


def insert_column(cursor, name):
    sql_query = "ALTER TABLE tags ADD " + name + " DECIMAL(10,9)"
    #cursor.execute(sql_query);
    
def change_row_h1_h2(tagid, h1, h2):
    sql_query = "UPDATE tags SET H1='" + str(h1) + "', h2='" + str(h2) + "' WHERE id=" + str(tagid)
    #cursor.execute(sql_query);
    print(sql_query)


cursor = mydb.cursor()


#TODO Remove them if columns already exist
#insert_column(cursor, 'H1');
#insert_column(cursor, 'H2');


sql_select_query = "SELECT * FROM tags"


cursor.execute(sql_select_query)
records = cursor.fetchall();
print("Row count: ", cursor.rowcount);
print("**************************************************");

for row in records:
    h1 = 'NULL' if row[3]==0 else (float(row[2]) / row[3])
    h2 = float(row[2]) / 11130
    
    change_row_h1_h2(row[0], h1, h2);
    
    
    #print("ID", row[0], row[1], row[2], row[3], h1, h2)
    
print("**************************************************");
#mydb.commit() #to commit all updates (Note: Alter Table didn't require commit)

ModuleNotFoundError: No module named 'mysql'